[package]
name = "gluon_language-server"
version = "0.8.3-alpha.0"
authors = ["Markus Westerlind <marwes91@gmail.com>"]
description = "Language server providing completion for gluon"
license = "MIT"
repository = "https://github.com/gluon-lang/gluon_language-server"

[workspace]

[[bin]]
name = "gluon_debugger"
path = "src/gluon_debugger.rs"

[[bin]]
name = "gluon_language-server"
path = "src/main.rs"

[lib]
name = "gluon_language_server"
path = "src/lib.rs"

[dependencies]
clap = "2.19.0"

log = "0.4.0"
env_logger = "0.5.0"

failure = "0.1"

codespan = "0.1.0"
codespan-lsp = "0.1.0"

url = "1.2.0"
url_serde = "0.2.0"

combine = "3.0.0"

jsonrpc-core = "8.0.1"
futures = "0.1.0"
tokio = "0.1.6"
tokio-io = "0.1.3"
tokio-codec = "0.1"
bytes = "0.4.5"

serde = "1.0.0"
serde_json = "1.0.0"
serde_derive = "1.0.0"

languageserver-types = "0.39.0"
debugserver-types = "0.4.0"

gluon = "0.8"
gluon_completion = "0.8"
gluon_format = "0.8"
codespan-reporting = "0.1.3"

[dev-dependencies]
pretty_assertions = "0.2.0"
partial-io = { version = "0.3.0", features = ["tokio", "quickcheck"] }
quickcheck = "0.6.0"
